<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)">
	<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
	<article class="wp-block-group">
		<!-- wp:group {"tagName":"header","align":"wide","className":"entry-header","style":{"border":{"bottom":{"color":"var:preset|color|contrast","width":"1px","style":"dotted"},"top":[],"right":[],"left":[]},"spacing":{"padding":{"bottom":"var:preset|spacing|80"}}},"layout":{"type":"default"}} -->
		<header class="wp-block-group alignwide entry-header" style="border-bottom-color:var(--wp--preset--color--contrast);border-bottom-style:dotted;border-bottom-width:1px;padding-bottom:var(--wp--preset--spacing--80)">
			<!-- wp:heading {"level":1} -->
			<h1 class="wp-block-heading">Not found, error 404</h1>
			<!-- /wp:heading -->
		</header>
		<!-- /wp:group -->
		<!-- wp:group {"align":"wide","layout":{"type":"constrained","contentSize":"1080px"}} -->
		<div class="wp-block-group alignwide">
			<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|40","left":"var:preset|spacing|80"},"padding":{"top":"var:preset|spacing|40"}}}} -->
			<div class="wp-block-columns alignwide" style="padding-top:var(--wp--preset--spacing--40)">
				<!-- wp:column {"width":"60%"} -->
				<div class="wp-block-column" style="flex-basis:60%">
					<!-- wp:pattern {"slug":"indio/404"} /-->
				</div>
				<!-- /wp:column -->
				<!-- wp:column {"width":"40%"} -->
				<div class="wp-block-column" style="flex-basis:40%">
					<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"var:preset|spacing|40"}}},"layout":{"type":"default"}} -->
					<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40)">
					<!-- wp:template-part {"slug":"sidebar","tagName":"aside","className":"site-sidebar"} /-->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:column -->
			</div>
			<!-- /wp:columns -->
		</div>
		<!-- /wp:group -->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->