<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)">
	<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
	<article class="wp-block-group">
		<!-- wp:group {"tagName":"header","align":"wide","className":"entry-header","style":{"border":{"bottom":{"color":"var:preset|color|contrast","width":"1px","style":"dotted"},"top":[],"right":[],"left":[]},"spacing":{"padding":{"bottom":"var:preset|spacing|80"}}},"layout":{"type":"default"}} -->
		<header class="wp-block-group alignwide entry-header" style="border-bottom-color:var(--wp--preset--color--contrast);border-bottom-style:dotted;border-bottom-width:1px;padding-bottom:var(--wp--preset--spacing--80)">
			<!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->
		</header>
		<!-- /wp:group -->
		<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained","contentSize":"1080px"}} -->
		<div class="wp-block-group alignwide" style="margin-top:0">
			<!-- wp:post-content {"style":{"spacing":{"padding":{"top":"var:preset|spacing|80"}}},"layout":{"type":"default"}} /-->
		</div>
		<!-- /wp:group -->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->